.container-fluid{
    padding-top: 10px;
}
mat-card{
    mat-card-header{
        padding: 12px;
        border-radius: 8px 8px 0 0;
        background-color: #1C2B78;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        justify-content: space-between;   
    }
    mat-card-content{
        padding: 15px;
        .table-container {
            width: 100%;
            overflow-x: auto;
            mat-table {
                min-width: 400px;
            }          
        }
    }
}