<div class="container-fluid">
  <h2 mat-dialog-title>{{ isEditMode ? 'Edit' : 'Add' }} License Subcategory</h2>

  <form class="mt-3" #form="ngForm">
    <mat-dialog-content>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <input
          matInput
          name="description"
          required
          [(ngModel)]="licenseSubcategory.description"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>License Category</mat-label>
        <mat-select [(ngModel)]="licenseSubcategory.category" name="category" required>
          <mat-option *ngFor="let cat of categories" [value]="cat.id">
            {{ cat.licenseCategory }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
