.container-fluid{
    padding-top: 10px;
}
mat-card{
    mat-card-header{
        padding: 12px;
        border-radius: 8px 8px 0 0;
        background-color: #1C2B78;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        justify-content: space-between;   
    }
    mat-card-content{
        padding: 15px;
        .table-container {
            overflow-x: auto;
            mat-table {
                min-width: 800px;
                .permission-column{
                    display: flex;
                    flex-direction: column;
                    align-self: start;
                    white-space: pre-line;
                    padding: 10px 0;
                    gap: 10px;
                }
                .small-column {
                    width: 80px;
                    max-width: 170px;
                    text-align: center;
                }
                .narrow-column {
                    width: 100px;
                    max-width: 100px;
                    text-align: center;
                }
                .action-column {
                    width: 100px;
                    min-width: 80px;
                    max-width: 120px;
                    justify-content: center;
                }
            }          
        }
    }
}
