<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div class="page-title">Roles List</div>
      <button mat-flat-button color="primary" (click)="onAdd()">
        <mat-icon>add</mat-icon> Add Role
      </button>
    </mat-card-header>

    <mat-card-content>
      <div class="table-container">
        <mat-table [dataSource]="roles">

          <!-- ID -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef class="narrow-column"> ID </mat-header-cell>
            <mat-cell *matCellDef="let road" class="narrow-column"> {{ road.id }} </mat-cell>
          </ng-container>

          <!-- Role Name -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="small-column"> Name </mat-header-cell>
            <mat-cell *matCellDef="let role" class="small-column"> {{ role.name }} </mat-cell>
          </ng-container>

          <!-- Role Precedence -->
          <ng-container matColumnDef="rolePrecedence">
            <mat-header-cell *matHeaderCellDef class="small-column"> Precedence </mat-header-cell>
            <mat-cell *matCellDef="let role" class="small-column"> {{ role.rolePrecedence }} </mat-cell>
          </ng-container>

          <!-- Can View -->
          <ng-container matColumnDef="canView">
            <mat-header-cell *matHeaderCellDef> Can View </mat-header-cell>
            <mat-cell *matCellDef="let role">
              <div class="permission-column">
                <div *ngFor="let app of role.canView">
                  {{ toTitleCase(app) }}
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Can Add -->
          <ng-container matColumnDef="canAdd">
            <mat-header-cell *matHeaderCellDef> Can Add </mat-header-cell>
            <mat-cell *matCellDef="let role">
              <div class="permission-column">
                <div *ngFor="let app of role.canAdd">
                  {{ toTitleCase(app) }}
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Can Update -->
          <ng-container matColumnDef="canUpdate">
            <mat-header-cell *matHeaderCellDef> Can Update </mat-header-cell>
            <mat-cell *matCellDef="let role">
              <div class="permission-column">
                <div *ngFor="let app of role.canUpdate">
                  {{ toTitleCase(app) }}
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Can Delete -->
          <ng-container matColumnDef="canDelete">
            <mat-header-cell *matHeaderCellDef> Can Delete </mat-header-cell>
            <mat-cell *matCellDef="let role">
              <div class="permission-column">
                <div *ngFor="let app of role.canDelete">
                  {{ toTitleCase(app) }}
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="action-column"> Actions </mat-header-cell>
            <mat-cell *matCellDef="let role" class="action-column">
              <button mat-icon-button color="primary" (click)="onEdit(role)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="onDelete(role)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <!-- Table Header and Rows -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
