::ng-deep {
  .mat-horizontal-stepper-wrapper {
    padding: 20px;
    gap: 40px;
  }
  
  .mat-step-header {
    background-color: #DADADA;
    border-radius: 4px;
    margin: 0 4px;
    
    &.cdk-keyboard-focused,
    &.cdk-program-focused,
    &:hover {
      background-color: #c5c5c5;
    }
  }
  
  .mat-step-icon-selected,
  .mat-step-icon-state-done,
  .mat-step-icon-state-edit {
    background-color: #1C2B78 !important;
  }
  
  .mat-horizontal-content-container {
    padding: 0;
    overflow: visible;
  }
}