<mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="onStepSelectionChange($event)">
  <mat-step label="Applicant Details">
    <app-label-registration-licensee-details (next)="stepper.next()"></app-label-registration-licensee-details>
  </mat-step>

  <mat-step label="Manufacturer & Brand">
    <app-label-registration-product-details
      (back)="stepper.previous()"
      (next)="stepper.next()">
    </app-label-registration-product-details>
  </mat-step>

  <mat-step label="Package Details">
    <app-label-registration-packaging-details
      (back)="stepper.previous()"
      (next)="stepper.next()">
    </app-label-registration-packaging-details>
  </mat-step>

  <mat-step label="Submit Application">
    <app-label-registration-submit-application
      (back)="stepper.previous()">
    </app-label-registration-submit-application>
  </mat-step>
</mat-horizontal-stepper>
