<div class="container-fluid">
  <!-- Title of the dialog box -->
  <h2 mat-dialog-title>Edit License Category</h2>

  <!-- Content area of the dialog box -->
  <mat-dialog-content>
    <!-- Form field for license category description -->
    <mat-form-field appearance="outline">
      <!-- Label for the input field -->
      <mat-label>License Category</mat-label>
      <!-- Input field for editing the license category description, bound to data.licenseCategoryDescription -->
      <input matInput [(ngModel)]="data.licenseCategory">
    </mat-form-field>
  </mat-dialog-content>
  
  <!-- Actions at the bottom of the dialog -->
  <mat-dialog-actions>
    <button matButton="filled" color="primary" (click)="onSave()">Save</button>
    <button matButton="filled" color="warn" (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</div>
