<div class="imfl-header-wrapper mb-3">
  <div class="imfl-banner">
    <div class="imfl-banner__left">
      <div class="imfl-banner__icon">
        <mat-icon>local_shipping</mat-icon>
      </div>
      <div>
        <h2 class="imfl-banner__title">IMFL Requisition / Cancellation</h2>
      </div>
    </div>
    <div class="imfl-banner__right" *ngIf="activeTab === 'requisition' && !isFormView">
      <button mat-raised-button color="primary" class="imfl-apply-btn" (click)="onApplyNewClick()">
        <mat-icon>add_circle</mat-icon>
        Apply for Import Permit
      </button>
    </div>
  </div>
</div>
