<form [formGroup]="addressForm">
  <mat-card>
    <mat-card-header>
      <div class="heading">Address</div>
      <div class="validation">
        * Marked Fields Are Mandatory
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="form-field-container">
        <mat-form-field appearance="outline">
          <mat-label>Site Sub Division</mat-label>
          <mat-select formControlName="siteSubdivision" (selectionChange)="onSubDivisionChange($event.value)" required>
            @for (siteSubdivision of subdivisions; track siteSubdivision) {
              <mat-option [value]="siteSubdivision.subdivision">{{ siteSubdivision.subdivision }}</mat-option>
            }
          </mat-select>
          @if (addressForm.controls['siteSubdivision'].invalid) {
            <mat-error>
              {{ getErrorMessage('siteSubdivision') }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Police Station</mat-label>
          <mat-select formControlName="policeStation" required>
            @for (policeStation of sitePoliceStations; track policeStation) {
              <mat-option [value]="policeStation.policeStation">{{ policeStation.policeStation }}</mat-option>
            }
          </mat-select>
          @if (addressForm.controls['policeStation'].invalid) {
            <mat-error>
              {{ getErrorMessage('policeStation') }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Location Category</mat-label>
          <mat-select formControlName="locationCategory" required>
            @for (locationCategory of locationCategories; track locationCategory) {
              <mat-option [value]="locationCategory">{{ locationCategory }}</mat-option>
            }
          </mat-select>
          @if (addressForm.controls['locationCategory'].invalid) {
            <mat-error>
              {{ getErrorMessage('locationCategory') }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Location Name</mat-label>
          <mat-select formControlName="locationName" required>
            @for (locationName of locationNames; track locationName) {
              <mat-option [value]="locationName">{{ locationName }}</mat-option>
            }
          </mat-select>
          @if (addressForm.controls['locationName'].invalid) {
            <mat-error>
              {{ getErrorMessage('locationName') }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ward Name</mat-label>
          <mat-select formControlName="wardName" required>
            @for (wardName of wardNames; track wardName) {
              <mat-option [value]="wardName">{{ wardName }}</mat-option>
            }
          </mat-select>
          @if (addressForm.controls['wardName'].invalid) {
            <mat-error>
              {{ getErrorMessage('wardName') }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address of the Business Premises</mat-label>
          <textarea matInput
            placeholder="Enter Site Address (max 500 characters)"
            formControlName="businessAddress"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            required>
          </textarea>
          @if (addressForm.controls['businessAddress'].invalid) {
            <mat-error>
              {{ getErrorMessage('businessAddress') }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Road Name</mat-label>
          <mat-select formControlName="roadName" required>
            @for (roadName of roadNames; track roadName) {
              <mat-option [value]="roadName">{{ roadName }}</mat-option>
            }
          </mat-select>
          @if (addressForm.controls['roadName'].invalid) {
            <mat-error>
              {{ getErrorMessage('roadName') }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>PIN Code</mat-label>
          <input matInput placeholder="Enter PIN" type="number" formControlName="pinCode" required/>
          @if (addressForm.controls['pinCode'].invalid) {
            <mat-error>
              {{ getErrorMessage('pinCode') }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <h5>Site Map (Optional)</h5>

      <div class="form-field-container">
        <mat-form-field appearance="outline">
          <mat-label>Latitude</mat-label>
          <input matInput placeholder="Enter Latitude" type="text" formControlName="latitude"/>
          @if (addressForm.controls['latitude'].invalid) {
            <mat-error>
              {{ getErrorMessage('latitude') }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Longitude</mat-label>
          <input matInput placeholder="Enter Longitude" type="text" formControlName="longitude"/>
          @if (addressForm.controls['longitude'].invalid) {
            <mat-error>
              {{ getErrorMessage('longitude') }}
            </mat-error>
          }
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button (click)="goBack()">Back</button>
      <button mat-stroked-button color="warn" (click)="resetForm()">Reset</button>
      <button mat-flat-button color="primary" (click)="proceedToNext()" [disabled]="!addressForm.valid">Next</button>
    </mat-card-actions>
  </mat-card>

</form>