<!-- Dashboard Container: This contains the entire dashboard layout -->
<div class="dashboard-container">
  <ng-container>
    <!-- Stats Container: This section displays the pending, approved, and rejected stats -->
    <div class="stats-container">
      <!-- Applied Stat Card -->
      <mat-card class="stat-card applied" (click)="showTable('applied')">
        <div class="circle-icon blue-bg">
          <img src="assets/images/dashboard/applied.png" alt="Applied Icon">
        </div>
        <div class="value">{{ dashboardCounts.applied }}</div>
        <div class="label">Applied</div>
      </mat-card>

      <!-- Pending Stat Card -->
      <mat-card class="stat-card pending" (click)="showTable('pending')">
        <div class="circle-icon yellow-bg">
          <img src="assets/images/dashboard/pending.png" alt="Pending Icon">
        </div>
        <div class="value">{{ dashboardCounts.pending }}</div>
        <div class="label">Pending</div>
      </mat-card>

      <!-- Approved Stat Card -->
      <mat-card class="stat-card approved" (click)="showTable('approved')">
        <div class="circle-icon green-bg">
          <img src="assets/images/dashboard/approved.png" alt="Approved Icon">
        </div>
        <div class="value">{{ dashboardCounts.approved }}</div>
        <div class="label">Approved</div>
      </mat-card>

      <!-- Rejected Stat Card -->
      <mat-card class="stat-card rejected" (click)="showTable('rejected')">
        <div class="circle-icon red-bg">
          <img src="assets/images/dashboard/rejected.png" alt="Rejected Icon">
        </div>
        <div class="value">{{ dashboardCounts.rejected }}</div>
        <div class="label">Rejected</div>
      </mat-card>
    </div>
  </ng-container>

  <!-- Dashboard for Permit Section -->
  <ng-container>
    <!-- Default Table Card -->
    @if (activeTable === 'default') {
      <mat-card>
        <mat-card-header>
          Statistics
        </mat-card-header>
        <mat-card-content>
          <!-- Content for default table -->
        </mat-card-content>
      </mat-card>
    }

    <!-- Applied Table Card -->
    @if (activeTable === 'applied') {
      <mat-card>
        <button mat-icon-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-card-header>
          Applied
        </mat-card-header>
        <mat-card-content>
          <app-application-table
            [dataSource]="appliedDataSource"
            [displayedColumns]="displayedColumns"
            [tableType]="'applied'"
            >
          </app-application-table>
        </mat-card-content>
      </mat-card>
    }

    <!-- Pending Table Card -->
    @if (activeTable === 'pending') {
      <mat-card>
        <button mat-icon-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-card-header>
          Pending
        </mat-card-header>
        <mat-card-content>
          <app-application-table
            [dataSource]="pendingDataSource"
            [displayedColumns]="displayedColumns"
            [tableType]="'pending'">
          </app-application-table>
        </mat-card-content>
      </mat-card>
    }

    <!-- Approved Table Card -->
    @if (activeTable === 'approved') {
      <mat-card>
        <button mat-icon-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-card-header>
          Approved
        </mat-card-header>
        <mat-card-content>
          <app-application-table
            [dataSource]="approvedDataSource"
            [displayedColumns]="displayedColumns"
            [tableType]="'approved'">
          </app-application-table>
        </mat-card-content>
      </mat-card>
    }

    <!-- Rejected Table Card -->
    @if (activeTable === 'rejected') {
      <mat-card>
        <button mat-icon-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-card-header>
          Rejected
        </mat-card-header>
        <mat-card-content>
          <app-application-table
            [dataSource]="rejectedDataSource"
            [displayedColumns]="displayedColumns"
            [tableType]="'rejected'">
          </app-application-table>
        </mat-card-content>
      </mat-card>
    }
  </ng-container>
</div>
