<mat-table [dataSource]="dataSource" class="mat-elevation-z2" *ngIf="hasData(); else noData">

  <!-- Sl No Column -->
  <ng-container matColumnDef="slNo">
    <mat-header-cell *matHeaderCellDef class="sl-no"> Sl No </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index" class="sl-no"> {{ i + 1 }} </mat-cell>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef class="app-id"> Application ID </mat-header-cell>
    <mat-cell *matCellDef="let element" class="app-id">
        <div class="application-id" [ngClass]="{ 'objection-text': element.hasUnresolvedObjection }">
            {{ element?.application_id }}
            <mat-icon *ngIf="element.hasUnresolvedObjection" color="warn" matTooltip="Objection pending">error</mat-icon>
        </div>
        <div class="text-secondary">Date: {{ element?.transactions[0]?.timestamp | date: 'dd-MM-yyyy, hh:mm a' }}</div>
    </mat-cell>
  </ng-container>

  <!-- Current Stage -->
  <ng-container matColumnDef="currentStage">
    <mat-header-cell *matHeaderCellDef> Current Stage </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ stageDisplayMapping[element.current_stage] || 'N/A' }}
    </mat-cell>
  </ng-container>

  <!-- Remarks -->
  <ng-container matColumnDef="remarks">
    <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.latest_transaction?.remarks || '-' }}
    </mat-cell>
  </ng-container>

  <!-- Performed By -->
  <ng-container matColumnDef="performedBy">
    <mat-header-cell *matHeaderCellDef> Performed By </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ roleDisplayMapping[element.latest_transaction?.performed_by?.role] || 'Unknown' }}
      <div class="text-secondary">
        Date: {{ element.latest_transaction?.timestamp | date: 'dd-MM-yyyy, hh:mm a' }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="onView(element)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="viewMovement(element)">
        <mat-icon>timeline</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<ng-template #noData>
  <div class="p-4 text-center text-muted">No applications found.</div>
</ng-template>
