.container-fluid {
    padding-top: 10px;
  }
  mat-card {
    mat-card-header {
      padding: 12px;
      background-color: #1C2B78;
      color: #ffffff;
      font-size: 24px;
      font-weight: 500;
      justify-content: space-between;
    }
    mat-card-content {
      padding: 15px;
      .table-container {
        overflow-x: auto;
        mat-table {
          min-width: 1000px;
          .small-column {
            width: 200px;
            max-width: 200px;
          }
          .narrow-column {
            width: 100px;
            max-width: 100px;
          }
          .action-column {
            width: 100px;
            min-width: 80px;
            max-width: 120px;
            justify-content: center;
          }
        }
      }
    }
  }