<form [formGroup]="makePaymentForm">
    <mat-card>
        <mat-card-header>
            <div class="heading">Make Payment</div>
            <div class="validation">
              * Marked Fields Are Mandatory
            </div>
          </mat-card-header>
  
      <mat-card-content>
        
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-stroked-button (click)="goBack()">Back</button>
        <button mat-flat-button color="primary" (click)="proceedToNext()" [disabled]="!makePaymentForm.valid">Next</button>
        <button mat-stroked-button color="warn" (click)="resetForm()">Reset</button>
      </mat-card-actions>
    </mat-card>
  </form>
  