<mat-horizontal-stepper #stepper>
  <!-- Step 1: Show Application Data -->
  <mat-step label="Application Data">
    <div class="step-header">
      Application Id: {{application.applicationId}}
    </div>
    <div class="application-details">
      <!-- Section: License Info -->
      <ng-container>
        <h6>License</h6>
        <div class="section-table">
          @for (item of licenseData; track item) {
            <div
              class="row"
              [class.objection]="hasObjection(item.field)">
              <div class="key">
                {{ item.key }}
              </div>
              <div class="value">
                {{ item.value }}
                <!-- Objection icon with tooltip if objection exists -->
                @if (hasObjection(item.field)) {
                  <mat-icon
                    matTooltip="{{ getObjectionRemarks(item.field) }}">
                    error
                  </mat-icon>
                }
              </div>
            </div>
          }
        </div>
      </ng-container>

      <!-- Section: Key Info -->
      <ng-container>
        <h6>Key Info</h6>
        <div class="section-table">
          @for (item of keyInfoData; track item) {
            <div
              class="row"
              [class.objection]="hasObjection(item.field)">
              <div class="key">
                {{ item.key }}
              </div>
              <div class="value">
                {{ item.value }}
                @if (hasObjection(item.field)) {
                  <mat-icon
                    matTooltip="{{ getObjectionRemarks(item.field) }}">
                    error
                  </mat-icon>
                }
              </div>
            </div>
          }
        </div>
      </ng-container>

      <!-- Section: Address -->
      <ng-container>
        <h6>Address</h6>
        <div class="section-table">
          @for (item of addressData; track item) {
            <div
              class="row"
              [class.objection]="hasObjection(item.field)">
              <div class="key">
                {{ item.key }}
              </div>
              <div class="value">
                {{ item.value }}
                @if (hasObjection(item.field)) {
                  <mat-icon
                    matTooltip="{{ getObjectionRemarks(item.field) }}">
                    error
                  </mat-icon>
                }
              </div>
            </div>
          }
        </div>
      </ng-container>

      <!-- Section: Unit Details (only if license type is Company)-->
      @if (application.licenseType === 'Company') {
        <h6>Unit Details</h6>
        <div class="section-table">
          @for (item of unitDetailsData; track item) {
            <div
              class="row"
              [class.objection]="hasObjection(item.field)">
              <div class="key">{{ item.key }}</div>
              <div class="value">
                {{ item.value }}
                @if (hasObjection(item.field)) {
                  <mat-icon
                    matTooltip="{{ getObjectionRemarks(item.field) }}">
                    error
                  </mat-icon>
                }
              </div>
            </div>
          }
        </div>
      }

      <!-- Section: Member Details (includes photo rendering) -->
      <ng-container>
        <h6>Member Details</h6>
        <div class="section-table">
          @for (item of memberDetailsData; track item) {
            <div
              class="row"
              [class.objection]="hasObjection(item.field)">
              <div class="key">
                {{ item.key }}
              </div>
              <div class="value">
                <!-- Conditionally display photo if field is 'photo' -->
                @if (item.field === 'photo' && photoUrl) {
                  <img [src]="photoUrl" alt="Photo" class="photo-preview" />
                } @else {
                  {{ item.value }}
                }
                <!-- Objection icon -->
                @if (hasObjection(item.field)) {
                  <mat-icon
                    matTooltip="{{ getObjectionRemarks(item.field) }}">
                    error
                  </mat-icon>
                }
              </div>
            </div>
          }
        </div>
      </ng-container>
    </div>

    <!-- Action Buttons -->
    <div class="step-buttons">
      <!-- Edit Application -->
      @if (tableType === 'applied') {
        <button matButton="filled" color="primary" (click)="onEdit(stepper)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      }

      <!-- Resolve Objection -->
      @if (tableType === 'pending') {
        @if (hasAnyObjections()) {
          <button matButton class="bg-warning" (click)="stepper.next()">
            <mat-icon>build</mat-icon>
            Resolve Objections
          </button> 
        }
        @if (!application.isLicenseFeePaid) {
          <button matButton="filled" color="primary" (click)="stepper.next()">
            <mat-icon>payment</mat-icon>
            Pay Fees
          </button>
        }
      }

      <!-- Delete Application --> 
      @if (tableType === 'applied') {
        <button matButton="filled" color="warn" (click)="onDelete(stepper)" >
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      }
    </div>
  </mat-step>

  <!-- Resolve Objections -->
  @if (hasAnyObjections()) {
    <mat-step label="Resolve Objections">
      <form [formGroup]="resolveObjectionForm">
        <div class="step-header">
          <h5>{{ application.applicationId }}</h5>
        </div>

        @if (unresolvedObjections.length) {
          <div class="step-content p-3">
            @for (obj of unresolvedObjections; track obj) {
              <ng-container [ngSwitch]="fieldMetaMap[obj.fieldName]?.type">
                <!-- File Upload -->
                @if (fieldMetaMap[obj.fieldName]?.type === 'file') {
                  <div class="photo-upload-container" (click)="fileInput.click()">
                    <input
                      type="file"
                      hidden
                      #fileInput
                      accept="image/*"
                      (change)="onPhotoSelected($event)"
                    />
                    <div class="upload-box">
                      <mat-icon>cloud_upload</mat-icon>
                      <div class="upload-text">
                        <h6>Upload Photo</h6>
                        <div class="upload-subtext">Drag and drop files here</div>
                      </div>
                    </div>
                  </div>
                  <mat-hint class="photo-objection">Objection: {{ obj.remarks }}</mat-hint>
                }

                <!-- Dropdown (select) -->
                @if (fieldMetaMap[obj.fieldName]?.type === 'dropdown') {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ fieldLabelMap[obj.fieldName] }}</mat-label>
                    <mat-select [formControlName]="obj.fieldName">
                      @for (option of dropdownFields[fieldMetaMap[obj.fieldName].source] || []; track option) {
                        <mat-option
                          [value]="option">
                          {{ getOptionLabel(obj.fieldName, option) }}
                        </mat-option>
                      }
                    </mat-select>
                    <mat-hint>Objection: {{ obj.remarks }}</mat-hint>
                  </mat-form-field>
                }

                <!-- Textarea -->
                @if (fieldMetaMap[obj.fieldName]?.type === 'textarea') {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ fieldLabelMap[obj.fieldName] }}</mat-label>
                    <textarea
                      matInput
                      rows="3"
                      [formControlName]="obj.fieldName">
                    </textarea>
                    <mat-hint>Objection: {{ obj.remarks }}</mat-hint>
                  </mat-form-field>
                }

                <!-- Date Picker -->
                @if (fieldMetaMap[obj.fieldName]?.type === 'date') {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ fieldLabelMap[obj.fieldName] }}</mat-label>
                    <input
                      matInput
                      type="date"
                      [formControlName]="obj.fieldName"
                    />
                    <mat-hint>Objection: {{ obj.remarks }}</mat-hint>
                  </mat-form-field>
                }

                <!-- Number -->
                @if (fieldMetaMap[obj.fieldName]?.type === 'number') {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ fieldLabelMap[obj.fieldName] }}</mat-label>
                    <input
                      matInput
                      type="number"
                      [formControlName]="obj.fieldName"
                    />
                    <mat-hint>Objection: {{ obj.remarks }}</mat-hint>
                  </mat-form-field>
                }

                <!-- Default text input -->
                @if (!['file', 'dropdown', 'textarea', 'date', 'number'].includes(fieldMetaMap[obj.fieldName]?.type)) {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ fieldLabelMap[obj.fieldName] }}</mat-label>
                    <input
                      matInput
                      type="text"
                      [formControlName]="obj.fieldName"
                    />
                    <mat-hint>Objection: {{ obj.remarks }}</mat-hint>
                  </mat-form-field>
                }
              </ng-container>
            }
          </div>
        }

        <div class="step-buttons">
          <button
            matButton="filled"
            color="primary"
            (click)="submitResolvedData()"
            [disabled]="resolveObjectionForm.invalid">
            Submit Corrections
          </button>
        </div>
      </form>
    </mat-step>
  }

  <!-- Fee Payment -->
  <mat-step label="Confirm Payment">
    <div class="step-content confirmation-step">
      <h5 class="text-success">
        Confirm Payment
      </h5>
      <mat-card appearance="outlined">
        <p><strong>Fee Amount:</strong> ₹{{ application.yearlyLicenseFee }}</p>
      </mat-card>
      <button mat-raised-button color="primary" (click)="payLicenseFee()">
        Pay
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
