<div class="captcha-section">
  <div class="captcha-header">
    @if (captchaImageUrl) {
      <img [src]="captchaImageUrl" alt="Captcha" class="captcha-img" />
    }
    <button mat-button class="refresh-captcha-btn" (click)="refreshCaptcha($event)">Refresh Captcha</button>
  </div>
  <!-- Add formGroup directive here -->
  <div [formGroup]="formGroup" class = "input-container">
    <mat-form-field appearance="outline" class="captcha-input">
      <mat-label>Captcha</mat-label>
      <input matInput formControlName="response" placeholder="Enter captcha" (input)="onResponseChange($event)" />
    </mat-form-field>
  </div>
</div>