<div class="container-fluid">
    <h2 mat-dialog-title align="center">{{ isEditMode ? 'Edit' : 'Add' }} Workflow Stage</h2>
  
    <form #form="ngForm">
      <mat-dialog-content>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Workflow</mat-label>
          <mat-select [(ngModel)]="stage.workflow" name="workflow" required #workflowModel="ngModel">
            <mat-option *ngFor="let wf of workflows" [value]="wf.id">{{ wf.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="workflowModel.invalid && workflowModel.touched">
            Workflow is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Stage Name</mat-label>
          <input 
            matInput 
            [(ngModel)]="stage.name" 
            name="name" 
            required 
            maxlength="50"
            #nameModel="ngModel" 
          />
          <mat-error *ngIf="nameModel.invalid && nameModel.touched">
            Stage name is required
          </mat-error>
          <mat-error *ngIf="nameModel.errors?.['maxlength']">
            Stage name cannot exceed 50 characters
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Description</mat-label>
          <textarea 
            matInput 
            [(ngModel)]="stage.description" 
            name="description"
            maxlength="255"
            rows="4"
          ></textarea>
          <mat-error *ngIf="(stage.description?.length ?? 0) > 255">
            Description cannot exceed 255 characters
          </mat-error>
        </mat-form-field>
  
        <mat-checkbox [(ngModel)]="stage.is_initial" name="is_initial">Initial Stage</mat-checkbox>
        <mat-checkbox [(ngModel)]="stage.is_final" name="is_final">Final Stage</mat-checkbox>
      </mat-dialog-content>
  
      <mat-dialog-actions align="center">
        <button matButton="filled" color="primary" (click)="onSave()" [disabled]="form.invalid">Save</button>
        <button matButton="filled" color="warn" (click)="onCancel()">Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>