h2{
    background-color: #1C2B78;
    color: #ffffff !important;
}

.print-dialog-content {
  margin-top: 10px;
  .print-warning {
    color: red;
  }
  .print-count .over-limit {
    color: red;
  }
}

