<nav class="navbar navbar-dark navbar-expand-md">
  <div class = "navbar-container">
    <div class="container-fluid">

      <a class="navbar-brand logo" >
        <div class="header-logo">
          <img class="logo-img" src = "assets/images/header/Seal_of_Sikkim_greyscale_white.png" (click)="home()">
        </div>
        <div class="header-text">
          <span class="navbar-title">EXCISE DEPARTMENT</span><br  >
          <span class="navbar-version">Government of Sikkim</span>
        </div>
      </a>

      <div class="nav-links-container">
        @if (!isLoggedIn) {
          <button mat-button (click)="login()">
            <mat-icon>login</mat-icon>
            <span class="text">Sign In</span>
          </button>
        }

        @if (isLoggedIn) {
          <button mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span class="text">Sign Out</span>
          </button>
        }
      </div>
    </div>
  </div>
</nav>
