<form [formGroup]="memberDetailsForm">
  <mat-card>
    <mat-card-header>
      <div class="heading">Company Member Details</div>
      <div class="validation">* Marked Fields Are Mandatory</div>
    </mat-card-header>

    <mat-card-content>
      <div class="form-field-container">

        <!-- Status Dropdown -->
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            @for (status of statuses; track status) {
              <mat-option [value]="status">{{ status }}</mat-option>
            }
          </mat-select>
          @if (memberDetailsForm.controls['status'].invalid) {
            <mat-error>
              {{ getErrorMessage('status') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Member Name Input -->
        <mat-form-field appearance="outline">
          <mat-label>Member Name</mat-label>
          <input matInput placeholder="Enter Your Name" type="text" formControlName="member_name"/>
          @if (memberDetailsForm.controls['member_name'].invalid) {
            <mat-error>
              {{ getErrorMessage('member_name') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Father's / Husband's Name Input -->
        <mat-form-field appearance="outline">
          <mat-label>Father's / Husband's Name</mat-label>
          <input matInput placeholder="Enter Father's / Husband's Name" type="text" formControlName="father_husband_name"/>
          @if (memberDetailsForm.controls['father_husband_name'].invalid) {
            <mat-error>
              {{ getErrorMessage('father_husband_name') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Nationality Dropdown -->
        <mat-form-field appearance="outline">
          <mat-label>Nationality</mat-label>
          <mat-select formControlName="nationality" required>
            @for (nationality of nationalities; track nationality) {
              <mat-option [value]="nationality">{{ nationality }}</mat-option>
            }
          </mat-select>
          @if (memberDetailsForm.controls['nationality'].invalid) {
            <mat-error>
              {{ getErrorMessage('nationality') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Gender Radio Buttons -->
        <mat-radio-group aria-label="Gender" formControlName="gender" required>
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
          @if (memberDetailsForm.controls['gender'].invalid) {
            <mat-error>
              {{ getErrorMessage('gender') }}
            </mat-error>
          }
        </mat-radio-group>

        <!-- PAN Input -->
        <mat-form-field appearance="outline">
          <mat-label>PAN</mat-label>
          <input matInput placeholder="Enter PAN" type="text" formControlName="pan"/>
          @if (memberDetailsForm.controls['pan'].invalid) {
            <mat-error>
              {{ getErrorMessage('pan') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Phone Number Input -->
        <mat-form-field appearance="outline">
          <mat-label>Enter Phone Number</mat-label>
          <input matInput placeholder="Enter Phone Number" type="tel" formControlName="member_mobile_number"/>
          @if (memberDetailsForm.controls['member_mobile_number'].invalid) {
            <mat-error>
              {{ getErrorMessage('member_mobile_number') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Email ID Input -->
        <mat-form-field appearance="outline">
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="Enter Email" type="email" formControlName="member_email"/>
          @if (memberDetailsForm.controls['member_email'].invalid) {
            <mat-error>
              {{ getErrorMessage('member_email') }}
            </mat-error>
          }
        </mat-form-field>

        <div class="upload-section">
          <label for="photoUpload">Passport Size Photo <span>(png, jpg)</span></label>
          <input
            type="file"
            id="photoUpload"
            (change)="onPhotoSelect($event)"
            accept=".png,.jpg,.jpeg"
            />

            @if (passPhoto.fileUrl) {
              <button mat-icon-button (click)="viewPhoto()" aria-label="View Uploaded Photo">
                <mat-icon>visibility</mat-icon>
              </button>
            }
          </div>

        </div>
      </mat-card-content>

      <mat-card-actions>
        <button matButton="outlined" (click)="goBack()">Back</button>
        <button matButton="filled" color="warn" (click)="resetForm()">Reset</button>
        <button matButton="filled" color="primary" (click)="proceedToNext()" [disabled]="!memberDetailsForm.valid || !isPhotoUploaded()">Next</button>
      </mat-card-actions>

    </mat-card>
  </form>