.container-fluid{
    display: flex;
    flex-direction: column;
    padding:0;
    h2{
        text-align: center;
        width: 100%;
        color: #fff;
        background-color: #1C2B78;
    }
    mat-dialog-content{
        display: flex;        
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem 2rem;
    }
}