.login-container {
    display: grid;
	margin: 30px 0px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 600px;
	
	justify-self: center;
	align-self: baseline;
	box-shadow: 0px 4px 15px rgba(0, 14, 31, 0.28);
	border-radius: 20px;
	.sign-in-button, .send-otp-button, .verify-otp-button{
		background-color: #1C2B78;
		color: #ffffff;
	}
}

@media(max-width: 568px){
	.login-container{
		grid-template-columns: 1fr;
	}
}

.sign-in-card{
	border-radius: 20px 0 0 20px!important; 
	background-color: #ffffff;
	padding: 20px;
	align-items: center;
	text-align: center;
	border-radius: 0;
	mat-card-header{
		font-size: 40px;
		font-weight: 700;
		padding: 20px;
	}
	mat-card-content{
		display: flex;
		flex-direction: column;
		gap: 30px;
		.switch-toggle {
			position: relative;
			display: flex;
			height: 40px;
			background: #ddd;
			border-radius: 20px;
			overflow: hidden;
			button {
			flex: 1;
			z-index: 2;
			border: none;
			background: transparent;
			font-weight: 500; 
			cursor: pointer;
			transition: color 0.3s ease;
			&.active {
				color: white;
			}
			}
			.switch-indicator {
			position: absolute;
			width: 50%;
			height: 100%;
			background: #1C2B78;
			border-radius: 20px;
			transition: transform 0.3s ease;
			z-index: 1;
			transform: translateX(0%);
			} 
			.switch-indicator.right {
			transform: translateX(100%);
			}
		}		
		form{
			display: flex;
			flex-direction: column;
			gap: 8px;
			mat-form-field{
				::ng-deep .mat-mdc-form-field-subscript-wrapper {
					display: none;
				}
				::ng-deep .mat-mdc-form-field-infix{
					display: flex !important;
					gap: 4px;
					align-items: center;
				}			
				mat-icon{
					font-size: 18px;
					padding-top: 3px;
				}
			}
			.otp-sent-info{
				text-align: start;
				font-size: 14.7px;
				a{
					color: #0020c1;
				}
			}
			.forgot-password a{
				color: #0020c1;
				cursor: pointer;
				margin-top: 10px;
			}
		}
	}
}

.overlay {
	border-radius: 0;
	color: #ffffff;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	position: relative;
	width: 370px;
	border-radius: 0 20px 20px 0 !important; 
	background: 
		//linear-gradient(to bottom, rgba(255, 255, 255, 0.619), rgba(255, 255, 255, 0) 30%),
		linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(28, 0, 210, 0) 50%),
		url('../../../assets/images/login/overlay.jpg') no-repeat center / cover;
	button{
		background-color: #ffffff;
		color: #1C2B78;
	}
	mat-card-header img {
		width: 100px;
	}

	mat-card-footer {
		font-size: 12px;
		padding: 10px;
		justify-items: center;
		.footer-contact {
			display: flex;
		}
		mat-icon {
			font-size: 16px;
		  }
	}
}
