<div class="container-fluid">
  <h2 mat-dialog-title>
    Add District
  </h2>

  <!-- Template-driven form reference -->
  <form #newDistrictForm="ngForm">
    <mat-dialog-content>
      <!-- District Name input field -->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>District Name</mat-label>
          <input
            matInput
            [(ngModel)]="district.district"
            name="districtName"
            #districtName="ngModel"
            placeholder="Enter District Name"
            maxlength="150"
            minlength="3"
            [pattern]="patternConstants.NAME"
            [disabled]="false"
            [required]="true"
          />
        </mat-form-field>

        <!-- Error messages for District Name field -->
        @if ((districtName.dirty || districtName.touched) && districtName.invalid) {
          <div>
            @if (districtName.errors?.['required']) {
              <mat-error>
                <small >This field is required</small>
              </mat-error>
            }
            @if (districtName.errors?.['minlength']) {
              <mat-error>
                <small>Minimum length is 3</small>
              </mat-error>
            }
            @if (districtName.errors?.['maxlength']) {
              <mat-error>
                <small>Maximum length is 150</small>
              </mat-error>
            }
            @if (districtName.errors?.['pattern']) {
              <mat-error>
                <small>Invalid format</small>
              </mat-error>
            }
          </div>
        }
      </div>

      <!-- District Code input field -->
      <div>
        <mat-form-field appearance="outline">
          <mat-label >District Code</mat-label>
          <input
            matInput
            [pattern]="patternConstants.NUMBER"
            placeholder="Enter District Code"
            name="districtCode"
            #districtCode="ngModel"
            [(ngModel)]="district.districtCode"
            required
          />
        </mat-form-field>

        <!-- Error messages for District Code field -->
        @if ((districtCode.dirty || districtCode.touched) && districtCode.invalid) {
          <div>
            @if (districtCode.errors?.['required']) {
              <mat-error>
                <small>This field is required</small>
              </mat-error>
            }
            @if (districtCode.errors?.['pattern']) {
              <mat-error>
                <small>Please enter a valid District Code (numbers only).</small>
              </mat-error>
            }
          </div>
        }
      </div>

      <!-- State (fixed and disabled) -->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select
            name="stateName"
            #stateName="ngModel"
            [(ngModel)]="district.stateCode"
            [disabled]="true"
            required
          >
            <mat-option [value]="state.stateCode">
              {{ state.state }} ({{ state.stateCode }})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <!-- Form Action Buttons -->
    <mat-dialog-actions>
      <button matButton="filled" color="primary" (click)="onSave()" [disabled]="newDistrictForm.form.invalid">Save</button>
      <button matButton="filled" color="warn" (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>      
  </form>
</div>
