<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-truck me-2"></i>
            {{ title }}
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="info-box">
                <span class="info-box-icon bg-info">
                  <i class="fas fa-warehouse"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Warehouse Managementss</span>
                  <span class="info-box-number">Manage inventory and storage</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <span class="info-box-icon bg-success">
                  <i class="fas fa-shipping-fast"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Logistics Tracking</span>
                  <span class="info-box-number">Track shipments and deliveries</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row mt-4">
            <div class="col-12">
              <div class="alert alert-info">
                <h4 class="alert-heading">Welcome to Supply Chain Management!</h4>
                <p>This is your supply chain management module. You can start building your features here.</p>
                <hr>
                <p class="mb-0">Any changes you make to this component will automatically refresh in the browser.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
