<form [formGroup]="unitDetailsForm">
  <mat-card>
    <mat-card-header>
      <div class="heading">Company Form</div>
      <div class="validation">* Marked Fields Are Mandatory</div>
    </mat-card-header>

    <mat-card-content>
      <div class="form-field-container">

        <!-- Company Name Field -->
        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <input matInput placeholder="Enter Company Name" type="text" formControlName="company_name" required/>
          @if (unitDetailsForm.controls['company_name'].invalid) {
            <mat-error>
              {{ getErrorMessage('company_name') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Company Address (Textarea) -->
        <mat-form-field appearance="outline">
          <mat-label>Registered Office Address</mat-label>
          <textarea matInput
            placeholder="Enter Registered Office Address"
            formControlName="company_address"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            required>
          </textarea>
          @if (unitDetailsForm.controls['company_address'].invalid) {
            <mat-error>
              {{ getErrorMessage('company_address') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- PAN Field -->
        <mat-form-field appearance="outline">
          <mat-label>PAN</mat-label>
          <input matInput placeholder="Enter Company PAN" type="text" formControlName="company_pan" required/>
          @if (unitDetailsForm.controls['company_pan'].invalid) {
            <mat-error>
              {{ getErrorMessage('company_pan') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- CIN Field -->
        <mat-form-field appearance="outline">
          <mat-label>CIN Number</mat-label>
          <input matInput placeholder="Enter Company CIN" type="text" formControlName="company_cin" required/>
          @if (unitDetailsForm.controls['company_cin'].invalid) {
            <mat-error>
              {{ getErrorMessage('company_cin') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Incorporation Date Field with Date Picker -->
        <mat-form-field appearance="outline">
          <mat-label>Incorporation Date</mat-label>
          <input matInput [matDatepicker]="incorporationDate" formControlName="incorporation_date" required>
          <mat-datepicker-toggle matIconSuffix [for]="incorporationDate"></mat-datepicker-toggle>
          <mat-datepicker #incorporationDate></mat-datepicker>
          @if (unitDetailsForm.controls['incorporation_date'].invalid) {
            <mat-error>
              {{ getErrorMessage('incorporation_date') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Phone Number Field -->
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Enter Phone Number" type="tel" formControlName="company_phone_number" required />
          @if (unitDetailsForm.controls['company_phone_number'].invalid) {
            <mat-error>
              {{ getErrorMessage('company_phone_number') }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Email Field -->
        <mat-form-field appearance="outline">
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="Enter Email Id" type="email" formControlName="company_email" required/>
          @if (unitDetailsForm.controls['company_email'].invalid) {
            <mat-error>
              {{ getErrorMessage('company_email') }}
            </mat-error>
          }
        </mat-form-field>

      </div>
    </mat-card-content>

    <mat-card-actions>
      <button matButton="outlined" (click)="goBack()">Back</button>
      <button matButton="filled" color="warn" (click)="resetForm()">Reset</button>
      <button matButton="filled" color="primary" (click)="proceedToNext()" [disabled]="!unitDetailsForm.valid">Next</button>
    </mat-card-actions>

  </mat-card>
</form>