.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    h2{
        text-align: center;
        width: 100%;
        color: #fff;
        background-color: #1C2B78;
    }
    form{
        width: 100%;
    }
    mat-dialog-content{
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        mat-error small {
            font-size: 0.75rem;
        }
    }
    mat-dialog-actions{
        justify-content: center;
    }
}