<div class="container-fluid">
  <!-- Title of the dialog to edit the license type -->
  <h2 mat-dialog-title>Edit License Type</h2>
  
  <mat-dialog-content>
    <!-- Form field for the License Type input -->
    <mat-form-field appearance="outline">
      <mat-label>License Type</mat-label>
      <!-- Input box for editing the license type; ngModel binds the input to the 'data' object passed to the dialog -->
      <input matInput [(ngModel)]="data.licenseType">
    </mat-form-field>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <!-- Cancel button to close the dialog without saving changes -->
    <button matButton="filled" color="warn" (click)="onCancel()">Cancel</button>
    
    <!-- Save button to trigger saving the changes -->
    <button matButton="filled" color="primary" (click)="onSave()">Save</button>
  </mat-dialog-actions>
</div>
