.captcha-header{
    display: flex;
    justify-content: end;
    align-items: center;
    .captcha-img{
        width: 80px;
        height: 33px;
        image-rendering: -webkit-optimize-contrast;
        filter: contrast(1.35) brightness(1.08);
    }
}
input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
    margin-top: 5px;
}
