<div class="container-fluid">
  <mat-card>
    <mat-card-header class="page-card-header">
      <!-- Icon for the page header -->
      <div class="icon-header ml-2"><i class="icofont icofont-dashboard-web float-left"></i></div>
      <!-- Title for the page -->
      <span class="page-title">Add Subdivision</span>
    </mat-card-header>
    <mat-card-content class="page-card-content">
      <form #newSubdivisionForm="ngForm">
        <!-- Row for form fields -->
        <div class="row mb-3">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <!-- Subdivision Name Input -->
            <mat-form-field class="my-form-full-width" appearance="outline">
              <mat-label>Sub-Division Name</mat-label>
              <input
                matInput
                [(ngModel)]="subdivision.subdivision"
                name="subdivisionName"
                #subdivisionName="ngModel"
                placeholder="Enter Sub-Division Name"
                maxlength="150"
                minlength="3"
                [pattern]="patternConstants.NAME"
                [required]="true"
                />
              </mat-form-field>
              <!-- Validation messages for Sub-Division Name -->
              @if ((subdivisionName.dirty || subdivisionName.touched) && subdivisionName.invalid) {
                <div class="no-margin">
                  @if (subdivisionName.errors) {
                    <mat-error>
                      <small>This field is required</small>
                    </mat-error>
                  }
                  @if (subdivisionName.errors) {
                    <mat-error>
                      <small>Minimum length is 3</small>
                    </mat-error>
                  }
                  @if (subdivisionName.errors) {
                    <mat-error>
                      <small>Maximum length is 150</small>
                    </mat-error>
                  }
                  @if (subdivisionName.errors) {
                    <mat-error>
                      <small>Invalid format</small>
                    </mat-error>
                  }
                </div>
              }
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <!-- Subdivision Name in Local Language Input -->
              <mat-form-field class="my-form-full-width" appearance="outline">
                <mat-label>Sub-Division Name in Local Language</mat-label>
                <input
                  matInput
                  placeholder="Enter Sub-Division Name in Local Language"
                  name="subdivisionNameLocal"
                  #subdivisionNameLocal="ngModel"
                  [(ngModel)]="subdivision.subdivisionNameLl"
                  />
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4">
                <!-- Subdivision Code Input -->
                <mat-form-field class="my-form-full-width" appearance="outline">
                  <mat-label>Sub-Division Code</mat-label>
                  <input
                    matInput
                    [pattern]="patternConstants.NUMBER"
                    placeholder="Enter Sub-Division Code"
                    name="subdivisionCode"
                    #subdivisionCode="ngModel"
                    [(ngModel)]="subdivision.subdivisionCode"
                    required
                    />
                  </mat-form-field>
                  <!-- Validation messages for Sub-Division Code -->
                  @if ((subdivisionCode.dirty || subdivisionCode.touched) && subdivisionCode.invalid) {
                    <div class="no-margin">
                      @if (subdivisionCode.errors) {
                        <mat-error>
                          <small>This field is required</small>
                        </mat-error>
                      }
                      @if (subdivisionCode.errors) {
                        <mat-error>
                          <small>Please enter a valid Sub-Division Code (numbers only).</small>
                        </mat-error>
                      }
                    </div>
                  }
                </div>
              </div>

              <!-- Row for District Selection -->
              <div class="row mb-3">
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <!-- District Select Dropdown -->
                  <mat-form-field class="my-form-full-width" appearance="outline">
                    <mat-label>District</mat-label>
                    <mat-select placeholder="Select District" name="district" #district="ngModel" [(ngModel)]="subdivision.districtCode" required>
                      <!-- Default Option -->
                      <mat-option>--</mat-option>
                      <!-- Loop through districts array to display options -->
                      @for (dist of districts; track dist) {
                        <mat-option [value]="dist.districtCode">
                          {{ dist.district }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <!-- Validation message for District -->
                  @if ((district.dirty || district.touched) && district.invalid) {
                    <div class="no-margin">
                      @if (district.errors) {
                        <mat-error>
                          <small>This field is required</small>
                        </mat-error>
                      }
                    </div>
                  }
                </div>
              </div>

              <!-- Row for Form Action Buttons -->
              <div class="row mb-3">
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <!-- Save Button, disabled if form is invalid -->
                  <button mat-raised-button color="primary" (click)="save()" [disabled]="newSubdivisionForm.form.invalid">Save</button>
                  <!-- Cancel Button -->
                  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
