.sl-no{
    max-width: 90px;
}
.app-id{
    min-width: 280px;
}

mat-cell{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    .application-id{
        font-size: 15px;
        font-weight: 500;
        color: #184eb3;
        mat-icon{
            color: #ff1100;
            vertical-align: middle;
            font-size: 20px;
            margin-left: 6px;
        }
    }
    .objection-text {
        color: #ffb700 !important; // Material yellow 700
    }
}