<mat-table [dataSource]="dataSource" class="mat-elevation-z2" *ngIf="dataSource?.data?.length">
  <!-- Sl No Column -->
  <ng-container matColumnDef="slNo">
    <mat-header-cell *matHeaderCellDef> Sl No </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Application ID </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <div class="fw-semibold text-primary" style="font-size: 1.2rem;">
            {{ element?.id }}
        </div>
        <div class="text-secondary">Date: {{ element?.transactions[0]?.timestamp | date: 'dd-MM-yyyy, hh:mm a' }}</div>
    </mat-cell>
  </ng-container>

  <!-- Current Stage -->
  <ng-container matColumnDef="currentStage">
    <mat-header-cell *matHeaderCellDef> Current Stage </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ stageDisplayMapping[element.current_stage] }} </mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="remarks">
    <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.latest_transaction?.remarks}} </mat-cell>
  </ng-container>

  <!-- Submitted On -->
  <ng-container matColumnDef="performedBy">
    <mat-header-cell *matHeaderCellDef> Performed By </mat-header-cell>
    <mat-cell *matCellDef="let element">
        {{ roleDisplayMapping[element.latest_transaction?.performed_by?.role] }}
        <div class="text-secondary"> Date: {{element.latest_transaction?.timestamp | date: 'dd-MM-yyyy, hh:mm a' }} </div> 
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
    <button mat-icon-button (click)="onView(element)">
        <mat-icon style="color: #1976d2;">visibility</mat-icon>
    </button>
    <button mat-icon-button *ngIf="tableType === 'approved'" (click)="onPrint(element)">
        <mat-icon style="color: #1976d2;">print</mat-icon>
    </button>
    <button mat-icon-button (click)="viewMovement(element)">
        <mat-icon style="color: #1976d2;">timeline</mat-icon>
    </button>
    <button mat-icon-button *ngIf="tableType === 'approved'" (click)="onView(element)">
        <mat-icon style="color: #1976d2;">payment</mat-icon>
    </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div *ngIf="dataSource?.data?.length === 0" class="p-4 text-center">
  No applications found.
</div>
