<form [formGroup]="siteEnquiryForm" class="dialog-container">
    <mat-dialog-content>
        <mat-card class = "section">
            <mat-card-header>
                <h5>Location Restrictions</h5>
            </mat-card-header>
            <mat-card-content>
            <div class = "field-container">
                <label class = "fw-medium">1. Whether there is any traditional place of Public Worship like Mandir, Gumpa, Church etc?</label>
                <mat-radio-group formControlName="hasTraditionalPlace" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>a. Distance of the nearest traditional place of Public Worship like Mandir, Gumpa, Church etc from the proposed site(in ft.)</label>
                <mat-form-field appearance="outline" class="small-input">
                <input matInput type="number" formControlName="traditionalPlaceDistance" placeholder="Enter distance in feet"/>

                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <label>b. Name of the place of Worship</label>
                <mat-form-field appearance="outline" class="small-input">
                <textarea 
                    matInput
                    placeholder="Enter Name of the place of worship, if any (max 1000 characters)"
                    formControlName="traditionalPlaceName"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('traditionalPlaceName')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <label>c. Nature of the place of Worship</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Nature of the place of worship, if any (max 1000 characters)"
                    formControlName="traditionalPlaceNature"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('traditionalPlaceNature')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <label>d. Nature of Construction</label>
                <mat-radio-group formControlName="traditionalPlaceConstruction" required>
                    <mat-radio-button value="rcc">RCC</mat-radio-button>
                    <mat-radio-button value="wooden_structure">Wooden Structure</mat-radio-button>
                    <mat-radio-button value="temporary">Temporary</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">2. Whether there is any educational institution?</label>
                <mat-radio-group formControlName="hasEducationalInstitution" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>a. Distance of the nearest educational institution recognized by State Govt. or Central Govt established by law from the proposed site (in ft)</label>
                <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="educationalInstitutionDistance"/>
                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <label>b. Name of the institution</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Institution Name, if any (max 1000 characters)"
                    formControlName="educationalInstitutionName"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('educationalInstitutionName')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <label>c. Nature of the institution</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Institution Nature, if any (max 1000 characters)"
                    formControlName="educationalInstitutionNature"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('educationalInstitutionNature')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">3. Whether there is any Hospital ?</label>
                <mat-radio-group formControlName="hasHospital" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>a. Distance of the nearest Hospital for the public use from the proposed site (in ft)</label>
                <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="hospitalDistance"/>
                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <label>b. Name of the Hospital</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Hospital Name, if any (max 1000 characters)"
                    formControlName="hospitalName"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('hospitalName')?.value?.length || 0 }}/1000</mat-hint>                
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">4. Whether there is any Taxi Stand ?</label>
                <mat-radio-group formControlName="hasTaxiStand" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>a. Distance of the nearest Taxi Stand from the proposed site (in ft.)</label>
                <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="taxiStandDistance"/>
                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <label>b. Name of the Nearest Taxi Stand</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Taxi Stand Name, if any (max 1000 characters)"
                    formControlName="taxiStandName"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('taxiStandName')?.value?.length || 0 }}/1000</mat-hint>                                
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">5. Whether the proposed site is inter-connected with Grocery Shop, Pan Shop, Vegetable Shop & Residency ?</label>
                <mat-radio-group formControlName="isInterconnectedWithShops" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Remarks, if any (max 1000 characters)"
                    formControlName="interconnectivityRemarks"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1" 
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('interconnectivityRemarks')?.value?.length || 0 }}/1000</mat-hint>                                
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">6. Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Comments, if any (max 2000 characters)"
                    formControlName="enquiryOfficerComments"
                    maxlength="2000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('enquiryOfficerComments')?.value?.length || 0 }}/2000</mat-hint>
                </mat-form-field>
            </div>

            </mat-card-content>
        </mat-card>

        <mat-card class = "section">
            <mat-card-header>
                <h5>Other Enquiry Points</h5>
            </mat-card-header>
            <mat-card-content>

            <div class = "field-container">
                <label class = "fw-medium">1. Type of construction of proposed shop</label>
                <mat-radio-group formControlName="shopConstructionType" required>
                    <mat-radio-button value="rcc">RCC</mat-radio-button>
                    <mat-radio-button value="wooden_structure">Wooden Structure</mat-radio-button>
                    <mat-radio-button value="temporary">Temporary</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">2. Whether there is any FLR shop, FLB shop and other Excise licensee within a radius of approximately, 100 m</label>
                <mat-radio-group formControlName="hasExciseShopsNearby" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>a. Numbers of FLR shop, FLB shop and other Excise licensee within a radius of approximately, 100 m</label>
                <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="nearbyExciseShopCount"/>
                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Remarks, if any (max 2000 characters)"
                    formControlName="nearbyExciseShopsRemarks"
                    maxlength="2000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('nearbyExciseShopsRemarks')?.value?.length || 0 }}/2000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">3. Whether the proposed site falls on the State Highway/National Highway</label>
                <mat-radio-group formControlName="isOnHighway" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Name of the State Highway/National Highway (max 2000 characters)"
                    formControlName="highwayName"
                    maxlength="2000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('highwayName')?.value?.length || 0 }}/2000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label for="photoUpload" class = "fw-medium">4. Upload Shop Image<span>(pdf)</span></label>
                <div class = "photo-upload-container">
                    <input
                        type="file"
                        id="photoUpload"
                        (change)="onDocSelect($event)"
                        accept=".pdf"
                        required/>
                    
                    <button mat-icon-button *ngIf="shopImageDocument.fileUrl" (click)="viewDoc()" aria-label="View Uploaded Photo">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">5. Latitute - Longitude</label>
                <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Latitute" formControlName="latitude"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Longitude" formControlName="longitude"/>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">6. Whether the size of the shop premises provided by the applicant is correct or not (remarks if any)</label>
                <mat-radio-group formControlName="isShopSizeCorrect" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Remarks, if any (max 2000 characters)"
                    formControlName="shopSizeRemarks"
                    maxlength="2000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('shopSizeRemarks')?.value?.length || 0 }}/2000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 2000 characters)"
                    formControlName="additionalEnquiryOfficerComments"
                    maxlength="2000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('additionalEnquiryOfficerComments')?.value?.length || 0 }}/2000</mat-hint>
                </mat-form-field>
            </div>

            </mat-card-content>
        </mat-card>

        <mat-card class = "section">
            <mat-card-header>
                <h5>Whether the following documents have duly been verified and found in order:</h5>
            </mat-card-header>
            <mat-card-content>
            <div class = "field-container">
                <label class = "fw-medium">1. Document like Certificate of Identification/ Sikkim Subject / RC is furnished and duly verified by concern authority</label>
                <mat-radio-group formControlName="hasIdProof" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 1000 characters)"
                    formControlName="idProofComments"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('idProofComments')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">2. Proof of age of the applicant, in case when the applicant is an individual or individual(s).</label>
                <mat-radio-group formControlName="hasAgeProof" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 1000 characters)"
                    formControlName="ageProofComments"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('ageProofComments')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">3. NOC from the Landlord regarding the use of premises for a period of 4 years to run the excise license applied for, if the premises is rented or leased or sub leased.</label>
                <mat-radio-group formControlName="hasNocFromLandlord" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 1000 characters)"
                    formControlName="nocComments"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('nocComments')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">4. Parcha/Allotment Paper/ Sale deed, if the premises is owned by the applicant.</label>
                <mat-radio-group formControlName="hasOwnershipProof" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 1000 characters)"
                    formControlName="ownershipProofComments"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('ownershipProofComments')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">5. Whether Trade License is furnished and duly verified by concern authority.</label>
                <mat-radio-group formControlName="hasTradeLicense" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 1000 characters)"
                    formControlName="tradeLicenseComments"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('tradeLicenseComments')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">6. Whether the applicant has proposed to appoint Barman/Salesman for running the shop.</label>
                <mat-radio-group formControlName="proposesBarmanOrSalesman" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 1000 characters)"
                    formControlName="workerProposalComments"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('workerProposalComments')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">7. Whether the document submitted by applicant for Salesman/Barman are found to be in order.</label>
                <mat-radio-group formControlName="workerDocsValid" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 1000 characters)"
                    formControlName="workerDocsComments"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('workerDocsComments')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>

            <div class = "field-container">
                <label class = "fw-medium">8. Whether the proposal for grant of license is recommended:</label>
                <mat-radio-group formControlName="licenseRecommendation" required>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class = "field-container ps-3">
                <label>Any other comments from the enquiry officer</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter other Comments, if any (max 1000 characters)"
                    formControlName="recommendationComments"
                    maxlength="1000"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('recommendationComments')?.value?.length || 0 }}/1000</mat-hint>
                </mat-form-field>
            </div>
            </mat-card-content>
        </mat-card>

        <mat-card class = "section">
            <mat-card-header>
                <h5>Special Remarks</h5>
            </mat-card-header>
            <mat-card-content>
                <div class = "field-container">
                    <label>Special Remarks, if any :</label>
                    <mat-form-field appearance="outline">
                    <textarea 
                        matInput
                        placeholder="Enter Special Remarks, if any (max 2000 characters)"
                        formControlName="specialRemarks"
                        maxlength="2000"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5">
                    </textarea>
                    <mat-hint align="end">{{ siteEnquiryForm.get('specialRemarks')?.value?.length || 0 }}/2000</mat-hint>
                    </mat-form-field>
                </div>

                <div class = "field-container">
                <label>Reporting Place :</label>
                <mat-form-field appearance="outline">
                <textarea 
                    matInput
                    placeholder="Enter Reporting Place (max 250 characters)"
                    formControlName="reportingPlace"
                    maxlength="250"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    required>
                </textarea>
                <mat-hint align="end">{{ siteEnquiryForm.get('reportingPlace')?.value?.length || 0 }}/250</mat-hint>
                </mat-form-field>
            </div>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</form>